
*{position: relative;padding:0;margin: 0;}
body{
    /*font-family: 'Playfair Display', serif;*/
    font-family: 'SUIT', sans-serif;
overflow-x: hidden;}
img{display: block;}
a{text-decoration: none;
    color: inherit;}
li,ol,ul{list-style: none;}
:root{
    --one:rgb(245, 246, 242);
    --two:rgb(117, 123, 145);
    --three:rgb(204, 195, 182);
    --four:rgb(189, 182, 170);
    --five:rgb(133, 131, 123);
    --six:#0f172b;
    --seven:rgb(175, 159, 140);
    --eight:rgb(212, 200, 190) ;
}
/* 공통 */

p{  font-size: 14px;
    line-height: 22px;
    font-family: 'Alegreya Sans', sans-serif;
}
.section-title{
    width:90%;
    max-width:1420px;
    margin:0 auto 40px;
    /*border:1px solid papayawhip;*/
}
.section-title h1{
    font-size:37px;
    font-weight: 700;
    color: var(--six);
    text-transform: uppercase;
}
.container{
    width:90%;
    max-width:1420px;
    margin:0 auto;
    /* border:1px solid pink; */
}
/* .top {
    position: fixed;
    right: 20px;
    bottom: 8px;
    cursor: pointer;
} */
.top-btn{
    position: fixed;
    bottom: 8px;right: 20px;
    /* bottom:30px;right:30px; */
    z-index: 100;
    width:50px;height:50px;cursor: pointer;
    background-color: var(--two);
    color:white;text-transform: uppercase;
    display: flex;align-items: center;justify-content: center;
    transition: 0.5s;opacity:0;
}
/* 나머지 공통 */
section{
    padding-bottom:80px;
}
button{
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border:none;
}

.indi-group{
    position: absolute;
    width:100%;
    bottom:30px;
    left:0px;
    display: flex;
}
.indi-group .indi{
    width:12px;height:12px;
    border-radius:50%;
    background-color: var(--four);
}
.indi-group .indi:first-child{
    background-color: var(--one);
}




/* 상단header */
header{
    /* border:1px solid gold; */
    transition: 1s;
    position: fixed;
    background-image: linear-gradient(rgba(0,0,0,0.2),transparent);
    padding:0 5%;
    box-sizing: border-box;
    width:100%;height:80px;
    display: flex;align-items: center;justify-content:center;
    color:white;
    top:0;left:0;z-index: 200;
    text-transform: uppercase;
    }
header .logo{
    /*margin-right: 80px;padding-bottom: 200px;*/
    position:absolute;top:50%;left:5%;transform:translate(0,-50%);
}
header .logo img{max-width: 36px;}

header .gnb{
    /*padding-bottom: 200px;*/
    font-size: 15px;font-weight: 700;
    display: flex;
}
header .gnb-li{padding: 0 40px;}
header .gnb-li a{}
header .right{
    position: absolute;
    right: 5%;
    top: 50%;height: 80px;transform:translate(0,-50%);
    display: flex;align-items: center;
}
header .ham-btn{
/* border:1px solid red; */
    width:80px; height:80px;
    opacity: 0;
}
header .ham-btn .bar{
    width: 25px;height: 2px;
    background-color: white;z-index: 100;
    position: absolute;right: 0;top:calc(50% - 1px);
}
header .ham-btn .bar1{margin-top:-8px}
header .ham-btn .bar2{}
header .ham-btn .bar3{margin-top:8px}

header .sub{
    width: 400px;height:100vh;
    padding: 10px;transition: 1s;
    color: var(--six);position: absolute;
    background-color:rgba(212, 200, 190, 0.9);
    top:0;right:-165px;z-index: 90;display: none;
}
header .sub-li{
    top: 120px;
    padding-left: 20px;
    line-height: 40px;
    font-size: 20px;font-weight: 700;
}
header .sub-li a{}

.on .sub{right:-45px;display: block;}
header.s-down{
    height: 80px;
    background-color: var(--six);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);}

@media (max-width:1200px) {
    header .logo{margin-right: 0;}
    header .gnb-li{padding: 0 10px;}
    
}
@media(max-width:900px){
    header{justify-content: center;}
    header .logo{position: fixed;
        left:5%;top:40px;margin-left:0;}
    header .gnb{display: none;}
    header .ham-btn{
        opacity: 1;
        margin-right:0;top:0;}
    header .sub{transition: 1s;}

}

/* footer */
footer{
    color:var(--one);text-transform:uppercase;
    background-color:var(--six);}

.footer1{font-family: 'Work Sans', sans-serif;}
.footer1 .container{display: block;
    justify-content: center;align-items: center;}

.footer1 .logo{
    text-align: center;
    align-items: center;
    /* border: 1px solid gold; */
    padding:40px 0; }
.footer1 .logo img{
    /* border: 2px solid blue; */
    left: calc(50% - 75px);
    width: 150px;height:70px;}
.footer1 .item-box{display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;}
.footer1 .item{font-size: 14px;}


.footer2{font-family: 'Work Sans', sans-serif;}
.footer2 .container{}
.footer2 .item1{
    border-bottom: 1px solid rgba(255,255,255,0.5);
    display: flex;
    justify-content: space-between;}
.footer2 .icon-box{display: flex;
    justify-content: space-between;}
.footer2 .icon-box img{
    padding: 5px;
    width: 18px;height: 18px;}

.footer2 .text-box{}
.footer2 .text-box .lang{
    color: var(--five);
    background-color: transparent;border: none;}


.footer2 .item2{
    padding-bottom: 10px;
    display: grid;grid-template-columns: repeat(1,1fr);}
.footer2 .shop-menu1{display: flex;}
.footer2 .shop-menu1 li{font-size: 12px;}
.footer2 .shop-menu2 li{font-size: 12px;}

@media (max-width:800px){
    .footer1{display: block;}
    .footer1 .item-box{display:grid;grid-template-columns: repeat(2,1fr);}
    .footer1 .item{width:100%;margin-bottom: 10px;}
    
}

/* sub-main */
.sub-main{}
.sub-main .img-box{
    min-height: 400px;
    overflow: hidden;}
.sub-main .bg{
    position: absolute;
    top: 0;left: 0;
    background-image:linear-gradient(45deg,transparent,rgba(0,0,0,0.8));
    width: 100%;height: 100%;}
.sub-main img{
    width: 100%;height: 400px;object-fit: cover;}
.sub-main .desk{
    top: 0;left: 0;opacity: 1;}
.sub-main .mobile{
    position: absolute;
    top: 0;left: 0;opacity: 0;}

/*.sub-main .img-box:hover .bg{opacity: 0;transition: 1s;}*/


.sub-main .text-box{
    transition: 0.7s;
    box-sizing: border-box;
    color: white;
   
    position:absolute;top:50%;left:50%;
    transform:translate(-50%,-50%);
    text-transform:uppercase;text-align: center;}
.sub-main .text-box h1{
   font-weight:100;
    font-size: 50px;letter-spacing:10px;
}


